@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:wght@100;300;500&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: darkgrey;
    color: rgb(12, 11, 11);
    font-family: 'Passion One', cursive;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 25px;


}

header .logo,
header .imagem-botao {
    width: 30px;
    transition: 0.2 ease-in-out;

}

header #botao-alterar-tema {
    background: none;
    border: none;

}

header .logo:hover,
header .imagem-botao:hover {
    transform: scale(1.06);
    cursor: pointer;


}

main {

    padding: 25px;
}

main .descricao {
    max-height: 80px;
    overflow-y: scroll;


}

ul.list-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;


}

li.cartao-pokemon {
    width: 170px;
    background-color: #d8e3ec;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: 0.2 ease-in-out;
}

.cartao-pokemon:hover {
    background-color: #aadddb;
    transform: scale(1.09);
    cursor: pointer;
}

.cartao-pokemon .gif {
    width: 80px;
    height: 70px;
}

div.informacoes {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 17px;
}

.informacoes span {

    margin: 0px 3px;
}

li.tipo {
    display: inline-block;
    border: 1px solid;
    padding: 4px;
    border-radius: 5px;
}

li.tipo.grama {
    border-color: green;
    background-color: rgb(90, 163, 90);
}

li.tipo.veneno {
    border-color: purple;
    background-color: rgb(156, 74, 156);
}

li.tipo.fogo {
    border-color: orangered;
    background-color: rgb(240, 125, 84);
}

li.tipo.agua {
    border-color: #1198c5;
    background-color: #52cbf3;
}

li.tipo.inseto {
    border-color: #7e8b14;
    background-color: #a6b91a;
}

/*modo escuro*/

body.modo-escuro {
    background-color: black;
    color: rgb(29, 37, 37);
    font-weight: normal;
    
}

.modo-escuro .cartao-pokemon {
    background-color: #a8a8a8;
}